@import 'modern-normalize/modern-normalize.css';
@import '@webtui/css';
@import '@webtui/css/base.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/badge.css';
@import '@webtui/css/components/button.css';
@import '@webtui/css/components/checkbox.css';
@import '@webtui/css/components/pre.css';
@import '@webtui/css/components/progress.css';
@import '@webtui/css/components/dialog.css';
@import '@webtui/css/components/input.css';
@import '@webtui/css/components/progress.css';
@import '@webtui/css/components/radio.css';
@import '@webtui/css/components/range.css';
@import '@webtui/css/components/separator.css';
@import '@webtui/css/components/spinner.css';
@import '@webtui/css/components/switch.css';
@import '@webtui/css/components/typography.css';
@import '@webtui/css/components/table.css';
@import '@webtui/css/components/textarea.css';
@import '@webtui/css/components/tooltip.css';
@import '@webtui/css/components/view.css';
@import '@webtui/theme-catppuccin';

@layer base, utils, components;

:root {
    --catppuccin-bg: #1e1e2e;
    --catppuccin-fg: #cdd6f4;
    --catppuccin-muted: #94a1b2;
    /* Accent Colors */
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    /* Background / Foreground Colors */
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}